@using MiProp.Models.ViewModels
@model ResetPasswordVM;

@{
    ViewData["Title"] = "";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h2>Recuperar contraseña</h2>

<form asp-action="ForgotPassword" method="post">

    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">
        Enviar link
    </button>

</form>