@using MiProp.Models.ViewModels
@model ResetPasswordVM;

@{
    ViewData["Title"] = "Restablecer Contraseña";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h2>Nueva contraseña</h2>

<form asp-action="ResetPassword" method="post">

    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label>Nueva contraseña</label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="form-group">
        <label>Confirmar contraseña</label>
        <input asp-for="ConfirmPassword" class="form-control" />
    </div>

    <button class="btn btn-success mt-3">
        Cambiar contraseña
    </button>

</form>